@charset "UTF-8";

/* 이 파일은 link 태그로 포함시켜서 html을 실행할 수 있습니다.
	그러나 F5(새로고침을 사용한 경우)를 하면 html만 새로 불러온다. css 파일은 변경이 없다.
	2차 호출한 파일들을 적용 시키려면 ctrl+f5(포함된 내용도 새로고침)를 누르세요.
 */
#container{
	width: 700px;
	margin: 0 auto;
}
h1 {
	text-align: center;
}
#container textarea{
	resize: none;
}
a > button{
	/* a태그 안의 button 태그는 커서 올렸을 때 손가락 표시*/
	cursor: pointer;
}