@charset "UTF-8";

body {
	background: #FFF7EC
}

h1 {
	text-align: center;
}

a {
	margin: 15px 5px;
}

button {
	margin: 5px 0;
}

button:hover {
	cursor: pointer;
}

#imageContainer {
	width: 900px;
	margin: 0 auto;
	font-size: 10pt;
	color: #564F45;
}

#dataTable {
	width: 100%;
	border-collapse: collapse;
	margin: 10px 0;
}

#dataTable th {
	border-bottom: 1px solid #aaa;
	width: 20%;
}

#dataTable td {
	border-bottom: 1px solid #aaa;
	height: 20px;
}

#dataTable th, #dataTable td {
	padding: 10px;
}